<!DOCTYPE html>
<html>
<head>
    <title>SOC Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="main-container">

    <!-- HEADER -->
   <div class="header">
    <div class="title">
        🛡️ SOC Dashboard
    </div>

    <div class="right">
        <span>Total Alerts</span>
        <span class="count">{{ open_alerts|length + closed_alerts_list|length }}</span>
    </div>
</div>

    <!-- CARDS -->
    <div class="cards">
        <div class="card">Total: {{ open_alerts|length + closed_alerts_list|length }}</div>
        <div class="card high">High: {{ open_alerts | selectattr('severity', 'equalto', 'HIGH') | list | length }}</div>
        <div class="card medium">Medium: {{ open_alerts | selectattr('severity', 'equalto', 'MEDIUM') | list | length }}</div>
        <div class="card low">Low: {{ open_alerts | selectattr('severity', 'equalto', 'LOW') | list | length }}</div>
    </div>

    <!-- LOGS -->
    <h2>📜 Logs</h2>

    {% if logs %}
    <ul class="logs">
        {% for log in logs %}
            <li>{{ log }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No logs available</p>
    {% endif %}

    <!-- OPEN ALERTS -->
    <h3>🔴 OPEN Alerts</h3>

    {% if open_alerts %}
        {% for alert in open_alerts %}
    <div class="alert {{ alert.severity }}">

        <h3 class="alert-title">
            <span class="badge">{{ alert.severity }}</span>
            <span class="title-text">
                {{ alert.message.split('→')[0]
                    .replace('[LOW]', '')
                    .replace('[MEDIUM]', '')
                    .replace('[HIGH]', '')
                    .strip() }}
             </span>
        </h3>

        <div class="alert-meta">
            {{ alert.message.split('→')[1] }}
        </div>

        <div class="alert-action">
            👉 ACTION: {{ alert.action }}
        </div>

        <form action="/close_alert" method="POST">
            <input type="hidden" name="alert_id" value="{{ alert.id }}">
            <button type="submit" class="alert-btn">Close</button>
        </form>

    </div>
{% endfor %}
    {% else %}
        <p>No OPEN alerts</p>
    {% endif %}

    <!-- CLOSED ALERTS -->
    <h3>🟢 CLOSED Alerts</h3>

    {% if closed_alerts_list %}
        {% for alert in closed_alerts_list %}
            <div class="alert closed">
                <p>{{ alert.message }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>No CLOSED alerts</p>
    {% endif %}

</div>

</body>
</html>